@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.texto-destaque {
    color: lemonchiffon;
}

h1 {
    margin: 10px;
    padding: 5px;
    border: 3px;
    content: 50px;
}

.apresentacao {
    display: flex;
    align-items: center;
    margin: 10% 19%;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    width: 280px;
    font-size: 24px;
    color: #000000;
    border-radius: 16px;
    background-color: #22D4FD;
    text-align: center;
    text-decoration: none;
    padding: 21.5px 0;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}